@charset "UTF-8";
body {
	background-color: #FFF;
}
#header {
	background-color:#93c9ff;
}
#header ul li a {
	color:#fff;
	text-decoration:none;
}
#tagline {
	text-align: center;
}
#footer {
	background-color:#93c9ff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 36px;
	color: #50555b;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #000;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #000;
}
#description {
}
#program {
}
button1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFF;
	background-color: #93c9ff;
	border:none;
}
button2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFF;
	background-color: #2e2e2e;
	border:none;
}
a:link {
	color:#93c9ff;
	text-decoration:none;
}
a:visited {
	color:#93c9ff;
	text-decoration:none;
}
a:hover {
	color:#93c9ff;
	text-decoration:none;
}
li{
	list-style: none;
	width:120px;
	height:35px;
	padding: 5px;
	text-align: center;
	float:left;
	margin-right:10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:18px;
	color: #fff;
}
li:hover {
	color:#93c9ff;
	text-decoration:none;
}
