@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;

	Inspiration from "Responsive Web Design" by Ethan Marcotte
	http://www.alistapart.com/articles/responsive-web-design

	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 88.626%;
	padding-left: 1.1869%;
	padding-right: 1.1869%;
	background-color: #FFF;
}
#header {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}
#headercontent {
	width: 88.626%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	padding-right: 3%;
}
#search {
	margin-top: 10%;
}
.biocontainer {
	text-align: center;
	padding: 10px 20px;
}
.bioimg {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 25px;
	float: left;
	width: 30%;
	height: auto;
}
.slideshow {
	float: left;
	clear: both;
}
.shadow {
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
}
.selected {
	font-weight:bold;
}
p#slide2_controls {
	text-align:center;
}
#slide2_controls span {
	padding-right:2em;
	cursor:pointer;
	font-size: 50px;
	color: #aaa;
}
#slide2_container {
	width:4000px;
	overflow:hidden;
	position:relative;
	margin:0 auto;
}
#slide2_images {
	position:absolute;
	left:0px;
	width:1000px;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	-transition:all 1.0s ease-in-out;
	}
#slide2_images img {
	padding:0;
	margin:0;
	float:left;
}
ul {
	float:right;
	position:relative;
	padding: 10px;
	margin-left:150px;
}
#tagline {
	margin-top: 90px;
	padding: 20px 0px 0px 0px;
}
#pgtitle {
	margin-top: 90px;
	padding: 20px 0px 0px 0px;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#video {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#description {
	clear: both;
	float: left;
	margin-left: 0;
	padding: 20px;
	width: 95%;
	display: block;
	min-height: 400px;
}
#program {
	clear: both;
	float: left;
	margin-left: 0;
	padding: 20px;
	width: 95%;
	display: block;
	background-color: FFF;
	min-height: 300px;
}
#faq {
	float: left;
	clear: both;
	margin: 10px 0 20px 0;
	padding: 0px;
}
#mailing-list {
	margin: 50px auto;
}
button1 {
	padding: 15px 40px 15px 40px;
	margin: 15px 5px 5px 1px;
	text-align: center;
	clear:left;
	float: left;
}
button2 {
	padding: 15px;
	margin: 15px 5px 5px 1px;
	text-align: center;
	float: left;
}
#footer {
	display: block;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4);
	width: 88.626%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top:15px;
	padding-bottom: 15px;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 91.4836%;
	padding-left: 0.7581%;
	padding-right: 0.7581%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#interview {
	clear: both;
	float: left;
	margin-left: 0;
	width: 36.464%;
	display: block;
}
#artwork {
	clear: none;
	float: left;
	margin-left: 1.6574%;
	width: 61.8784%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#requirements {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 89.0217%;
	max-width: 1232px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#interview {
	clear: none;
	float: left;
	margin-left: 0;
	width: 24.1758%;
	display: block;
}
#artwork {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 41.0256%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 90%;
	display: block;
}
#requirements {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 32.6007%;
	display: block;
}
}
